<div>
  <!-- (ngSubmit)="form.valid && addTodo()" -->
  <form class="form" [formGroup]="form" (ngSubmit)="form.valid && addTodo()" >
    <input
      id="in_title"
      placeholder="Title"
      name="title"
      type="text"
      pInputText
      formControlName="title"
      required
      [(ngModel)]="todo.title" 
      
    />
    <span *ngIf="title?.errors && title?.touched">
      Title is not valid
    </span>
    <input
      id="in_description"
      placeholder="Description"
      name="description"
      type="text"
      pInputText
      formControlName="description"
      [(ngModel)]="todo.description"
    />
    <span *ngIf="title?.errors && title?.touched">
      Description is not valid
    </span>
    <button type="submit" pButton label="Enviar"></button>
  </form>
</div>
